<% layout("/layouts/boilerplate") %>

    <body>


        <div class="show-list row mt-3 mb-3">
            <div class="card col-8  show-card ">

                <img class="card-img-top show-img" src="<%= list.image %>" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title ">
                        <%= list.title %>
                    </h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <ul>
                        <li>
                             <p class="card-text">
                                Owned by <i><%= list.owner.username %></i>
                                <br>
                            </p>
                        </li>
                            <p class="card-text">
                               
                                <%= list.description %>
                            </p>
                        </li>
                        <li>
                            <p class="card-text">&#8377;<%= list.price %>
                            </p>
                        </li>
                        <li>
                            <p class="card-text">
                                <%= list.location %>
                            </p>
                        </li>
                        <li>
                            <p class="card-text">
                                <%= list.country %>
                            </p>
                        </li>
                    </ul>

                    
<% if(currentUser && currentUser._id.equals(list.owner._id)) {%>
                    <div class="show-btns">
                        <a href="/listings/<%= list._id %>/edit" class="show-btn btn btn-dark ">Edit</a>
                        <form action="/listings/<%= list._id %>?_method=DELETE" method="post">
                            <button class="btn-dark btn show-btn">Delete</button>
                        </form>
                    </div>

<% } %>


                </div>
            </div>

        </div>
        <br>
        <% if(currentUser) {%>

        <div class="col-8 offset-2 review-cont show-card">
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%= list._id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" name="review[rating]" required>
                    <div class="invalid-feedback">Please select a rating.</div>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="90" rows="5" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">Please provide a comment.</div>
                </div>
                <button type="submit" class="mb-3 mt-3 btn btn-outline-dark">Submit</button>
            </form>
        <hr>
        <% } %>
        <h4>All Reviews</h4>
        <div>
            <% for(review of list.reviews){ %>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.author.username %></h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="card-text"><%= review.rating %> Stars</p>
                    </div>
                    <form action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="mb-3">

                        <button type="submit"  class="btn btn-dark btn-sm">Delete Review</button>
                    </form>
                </div>

            <% } %>
        </div>
        </div>
        
    
       


      